<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            word-spacing:3cm;
            background-color: orange;
            margin-inline: 3cm;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galería</a>
        <a href="tabla.html">Tabla</a>
        <a href="lista.html">Lista</a>
        <a href="http://www.google.com.ar" target="_blank">Google</a>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>