<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <style>
        header {
            word-spacing: 3cm;
            background-color: orange;
            margin-inline: 3cm;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galería</a>
        <a href="tabla.html">Tabla</a>
        <a href="lista.html">Lista</a>
        <a href="formulario.html">Formulario</a>
        <a href="http://www.google.com.ar" target="_blank">Google</a>
    </header>
    <main>
        <section>
            <div>
                <h1>Complainte</h1>
                <p>Ô combien de marins, combien de capitaines<br>
                    Qui sont partis joyeux pour des courses lointaines,<br>
                    Dans ce morne horizon se sont évanouis!<br>
                </p>
            </div>
            <div>
                <img src="lenaufrage.jpg" alt="Naufrage" width="300">
            </div>
        </section>
        <section>
            <h1>De Descartes</h1>
            <h3>Poème</h3>
            <p>
                <mark>La mort</mark> a des rigueurs à nulle autre <i>pareilles</i><br>
                On a beau la <b>prier</b><br>
                La <u>cruelle</u> qu'elle est se bouche les <i>oreilles</i><br>
                Et nous laisse <b>crier</b><br>
            </p>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>