<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
    <link rel="stylesheet" href="deco.css">

</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galería</a>
        <a href="tabla.html">Tabla</a>
        <a href="lista.html">Lista</a>
        <a href="formulario.html">Formulario</a>
        <a href="http://www.google.com.ar" target="_blank">Google</a>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>